
@{
    ViewBag.Title = "SignupSucess";
    Layout = "~/Views/Shared/_MembershipLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>Thank You Very much to becoming a member of Club </h1>
        <h3 style="color:maroon">@TempData["Member"]</h3>
    </div>
</body>
</html>
